# Hermes - Internet Speed Test Automation and Visualization
# Before production release change pinning to ~= for minor version updates, and add upper bounds for major versions

# Core
speedtest-cli>=2.1
apscheduler>=3.10
python-dotenv>=1.0

# Exporters
prometheus-client>=0.20

# Web UI
streamlit>=1.40
pandas>=2.0

# Development/testing
pytest>=8.0
